
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html, body {
  height: 100%;
}
 
.row {
  --bs-gutter-x: 0rem;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: #444;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Raleway', sans-serif;
  margin: 4px 0px 15px;
  color: rgb(243, 243, 243);
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 70px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

h7 {
  font-size: 30px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

h8 {
  font-size: 40px;
  line-height: 40px;
  color: rgb(255, 255, 255);
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #3EC1D5;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}


.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  text-transform: capitalize;
}

.section-headline-payment h2 {
  color: rgb(240, 240, 240); 
  display: inline-block;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  text-transform: capitalize;
  text-shadow: 5px 4px 4px black; 
  text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
}


@media (max-width: 490px){
  .section-headline-payment h2{
    font-size: 30px;
  }
  .section-headline h2 {
    font-size: 25px!important;  
  }
  .accordion-title {
    font-size: 1rem;
  }
  .contact-right-text h5 {
    font-size: 13px!important;
    line-height: 28px!important;  
  }
  .team-content > h4 {
    font-size: 18px;
  }
  .team-img {
    height: 50px!important;
    width: 60px!important;
  }
}


.area-padding {
  padding: 0px 0px 80px;
}

.textshadow {
  text-shadow: 5px 4px 4px black; 
  text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
}

.row {
  padding-right: calc(var(--bs-gutter-x)/ -30);
}


.opis {
  display: inline-block;
  font-weight: 600;
  position: relative;
  font-size: 20px;
  max-width: 900px;
  line-height: 30px;
  padding: 10px 40px;
  color: white;
  font-weight: 600;
  text-shadow: 3px 3px 15px rgb(0, 0, 0);
}

.opisbackground{
  background-repeat: no-repeat;
  size: auto 100%;
  position: absolute;
  opacity: 40%;
  width: 100%;
  height: 100%;
  z-index: -19;
  padding-top: 0;
  justify-content: center;
  align-items: center;
 }

.opis-background {
  background: url(../img/background/flare.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}


/*--------------------------------------------------------------
# Back to top button and preloader
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3ec1d5;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #60ccdc;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.clear {
  clear: both;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}

::-moz-selection {
  background: #3EC1D5;
  text-shadow: none;
}

::selection {
  background: #3EC1D5;
  text-shadow: none;
}

.area-padding {
  padding: 70px 0px 80px;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-headline h2::after {
  border: 1px solid rgb(226, 226, 226); /*to ta kreska*/
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}


.section-headline .termsbackground h2::after {
  border: 1px solid rgb(255, 255, 255);
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}


.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 1);
}
#header h1{
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;  
}

#header .logo a img{
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;  
}

@media (max-width: 991px) { 
  #header .logo a img{  
    margin-left:53px;
  }
}

@media (max-width: 579px) { 
  #header .logo a img{  
    margin-left:63px;
    margin-top: 3px;
  }
}

@media (max-width: 355px) {
  #header .logo a img{  
    max-height: 30px;
  }

  .carter {
    width: 19px!important;
  }
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  height: 74px;
}

#header.header-scrolled .logo a img{
  margin-bottom:5px;
}


#header.header-scrolled h1{    /* scroll down transition te 4 klasy */
  margin-bottom:10px;
}
 
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header {
    
    background: rgba(0, 0, 0, 0.8);
  }
  #header .logo h1 {
    font-size: 28px;
  }
}

.header-bg {
  background: url(../img/background/page-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 60px;
}

.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}

.breadcrumb {
  padding-top:30px!important;
  padding-left:20px!important;
  padding:5px;
}

.breadcrumb .breadcrumb-item a{
  color: rgb(112, 112, 112);
  font-family: 'ProxNov400', sans-serif;
  text-shadow: 0px 0px 2px white;
  line-height: 1;
}

.breadcrumb .breadcrumb-item  a:hover{
  color:white;
}

.breadcrumb .breadcrumb-item a i {
  margin-bottom: 30px;
}


.breadcrumb-item.active{
  color:rgb(124, 124, 124);
  text-decoration: none;
}

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 25px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

#catalog-navbar a{
  text-shadow: 0px 0px 20px rgb(245, 245, 245);
}







.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #3ec1d5;
}

.navbar .navi a{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.navbar .navi a:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 75%;
  left: 15%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(28, 142, 196, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.navbar .navi #catalog-navbar a:before{
  left:20%;
}

.navbar .navi #about-navbar a:before{
  left:3%;
  width:120%;
}

.navbar .navi #contact-navbar a:before{
  left:4%;
  width:120%;
}

.navbar .navi #tos-navbar a:before{
  left:-7%;
  width:130%;
}

.navbar .navi #others-navbar a:before{
  left: 17%;
  width:100%;
}

.navbar .navi a:hover, .navbar .navi a:after, .navbar .navi a:focus{
  transform: translateY(-5px);

}

.navbar .navi a:hover:before, .navbar .navi a:active::before, .navbar .navi a:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}

/**
* Navbar dropdown button
*/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}







.navbar .icon {
  display: none;
}


@media (max-width: 991px) {
  .navbar .navi a {
    display: none;
  }
  .navbar a.icon {
    display: block;
    left: 15px;
    padding: 10px, 0;
    position: fixed;
  }
} 

@media (max-width: 991px) {
  .navbar.responsive {
    margin-top: 80px;
    left: 15px;
    position: fixed;
    background: rgb(65, 64, 64);
  }
  .navbar.responsive .icon {
    display: block;
    top: 12px;
    right: 15px;
    left: 15px;
    padding: 10px, 0;
    position: fixed;
  }

  .navbar ul {
    display: block;
  }

  .navbar.responsive ul li a {
    float: none;
    display: block;
    text-align: left;
    padding: 15px 30px 22px 30px;
  }

  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    
  }
}
.navbar.responsive .navi #catalog-navbar a:before{
  left: 7%;
  width: 50%;
}

.navbar.responsive .navi #about-navbar a:before{
  left: 6%;
  width:55%;
}

.navbar.responsive .navi #contact-navbar a:before{
  left: 8%;
  width:50%;
}


.navbar.responsive .navi #tos-navbar a:before{
  left: 5%;
  width:90%;
}

.navbar.responsive .navi #others-navbar a:before{
  left: 10%;
  width:40%;
}

/*animacja on scroll*/

#header .navbar.responsive{
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;  
}

#header.header-scrolled .navbar.responsive{
  margin-top:74px;
}

#header.header-scrolled .navbar.responsive .icon{
  margin-top:-3px;
}

#header .navbar.responsive {
  max-height: 300px;
}

#header.header-scrolled .submenu{
  margin-top:-3px;
  transition: all 0.5s;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.aboutus-area {
  background: url(../img/background/maus2.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 25px; 
  border: 5px solid;
  border-color: black;
  padding:10px;
}

.about-area {
  background: url(../img/background/berlin.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about ul{
  align-items: center;
}

#about .about-background ul{
  margin-right: 32px;
}

.single-well > a {
  display: block;
}

.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
}

.single-well ul li i {
  color: #3EC1D5;
  margin-right: 5px;
  font-size: 18px;
}

.single-well p {
  color: #444;
  text-align: justify;
}

.about-background-title {
  color:white;
  font-size: 45px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:20px;
	border-radius: 10px;
}

.about-background {
  color:white;
  font-size: 17px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:60px 50px;
	border-radius: 10px;
}


.about-background p {
  color:white;
}

/*--------------------------------------------------------------
# Carousel Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: relative;
}

.carousel-item {
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
}

.hero-first-row {
  margin-top: 100px;
  font-size: 35px;
}

.section-headline.hero-head > p {
  color: rgb(238, 238, 238);
  margin-bottom: 0px!important;
  margin-top: 35px;
  font-size: 35px;
}

.hero-background-title{
  color:white;
  font-size: 45px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:20px;
	border-radius: 10px;
  font-weight: 800;
}

.hero-background{
  color:white;
  font-size: 20px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:20px;
	border-radius: 10px;
}

#hero .container {
  font-size: 20px;
  padding: 0 10px;
}



#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 250px;
}

#hero .background-image {
  opacity:20%;
}

#hero .carousel-item {
  background-position: center;
  background-repeat: no-repeat;
}


#hero .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}


#hero h2 {
  color: #fff;
  font-weight: 700;
  text-transform: none;
  line-height: 50px;
}

.hero-section-left {
  text-align: left;
}

.services-icon img{
  width: 70px;
}

#hero p {
  width: 80%;
  line-height: 1.2;
  margin: 0 auto 30px auto;
  color: #fff;
}
.about-move {
  padding-left: 20px;
  padding-right: 20px;
}



@media (max-width: 450px) {
  .hero-background-title {
    padding-bottom: 2px;
  }
  .single-services p {
    padding-bottom: 10px;
  }
  .section-headline.hero-head > p {
    font-size: 20px!important;
  }
  .single-services > p {
    font-size: 14px!important;
  }
  .single-services > h4 {
    font-size: 17px!important;
    margin: 0;
    margin-bottom: 10px;
  }
  .single-services > h6 {
    font-size: 12px;
  }
  #hero .btn-get-started {
    font-size: 10px!important;
    position: absolute!important;
    padding: 2px 2px !important;
    bottom: 8px!important;
  }
  #hero .container {
    margin-top: -70px;
  }
  .hero-first-row {
    margin-top: 80px;
  }
  .services-icon img{
    width: 50px;
  }
  #first-attribute {
    margin-top: 30px;
  }
}

@media (max-width: 768px) and (min-width: 451px) {
  #hero h2 {
    line-height: 1.2;
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    min-height: 150px;
  }
  .section-headline.hero-head > p {
    font-size: 22px!important;
  }
  .single-services > p {
    font-size: 15px!important;
  }
  .single-services > h4 {
    font-size: 18px!important;
    margin: 0;
  }
  .single-services > h6 {
    font-size: 15px;
  }
  #hero .btn-get-started {
    font-size: 10px!important;
    position: inherit!important;
  }
}

@media (min-width: 1424px) {
  #hero p {
    margin-left: 20%;
    width: 80%;
  } 
}

@media (max-width: 1224px) and (min-width: 767px) {
  .section-headline.hero-head > p {
    font-size: 25px;
  }
  .single-services > p {
    font-size: 16px!important;
  }
  .single-services > h4 {
    font-size: 18px!important;
  }
  .single-services > h6 {
    font-size: 12px;
    line-height: 0.8rem;
  }
  .services-icon img{
    width: 50px;
  }
}

@media(min-width: 1450px) {
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    min-height: 280px;
  }
  .section-headline.hero-head > p {
    font-size: 35px;
  }
  .hero-first-row {
    margin-top: 100px;
  }
  .single-services > h6 {
    font-size: 13px;
  }
}





#hero .carousel-fade {
  overflow: hidden;
}

#hero .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#hero .carousel-fade .carousel-inner .carousel-item,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-fade .carousel-inner .active,
#hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-fade .carousel-inner .carousel-item-next,
#hero .carousel-fade .carousel-inner .carousel-item-prev,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  bottom:-10px;
  left:3vh;
  right:3vh;
  position: absolute;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #3ec1d5;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #3ec1d5;
}

/*--------------------------------------------------------------
# How to make a purchase
--------------------------------------------------------------*/
.services-area{
  background: url(../img/background/himmel.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -45px;
  margin-bottom: 45px;
}

.section-headline.services-head > h2 {
  color: rgb(238, 238, 238);
  margin-bottom: 5px;
  margin-top: 65px;
}

.services-details {
  padding-top: 10px;
  transition: all 0.5s ease 0s;
}

.services-details:hover h4, .services-details:hover .services-icon {
  color: #3EC1D5;
}

.row.second-row {
  margin-top: 40px;
}

.section-head > h2 {
  color: #333;
}

.single-services > h4 {  /* h4 jest uzywane */
  color: rgb(197, 194, 194);
  text-shadow: 5px 4px 4px black; 
  text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.single-services p {  /* h4 jest uzywane */
  color: rgb(226, 225, 225);
  text-shadow: 5px 4px 4px black; 
  text-shadow: 5px 5px 6px #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  font-size: 18px;
  font-weight: 500;
}


.services-background-title h2{
  color:white;
  font-size: 45px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:20px;
	border-radius: 10px;
}

.services-background{
  color:white;
  font-size: 20px;
  background-color:black;
  background:rgba(0,0,0,0.6);
  padding:20px;
	border-radius: 10px;
}

.centrujnumer {
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(32%, -15%)
}

/*--------------------------------------------------------------
# Payment methods - oryginalnie mial byc team
--------------------------------------------------------------*/

.payment-area{
    background: url(../img/background/winter.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -45px;
}

.team-member:hover.team-member::before {
  transform: scale(1.2);
}


.team-member-carousel .single-team-member {
  overflow: hidden;
  width: 100%;
}

.single-team-member:hover .team-img a:after {
  opacity: 1;
}

.single-team-member:hover .team-social-icon {
  opacity: 1;
}



.team-img {
  position: relative;
  padding: 0%;
  height: 80px;
  width: 80px;
}

.team-img > a {
  block-size:250px;
  align-items: center;
  max-width: 60%;
}

.team-img .paypal{
  
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.team-img .mastercard{
  flex:1;
  margin-left: auto;
  margin-right: auto;
}

.team-img .visa{
  flex:1;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.team-img .banktransfer{
  flex:1;
  margin-left: auto;
  margin-right: auto;
}

.team-img > a::after {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 5px 5px; 
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;      
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
  opacity: 0;
}

.team-social-icon {
  left: 50%;
  margin-left: -56px;
  opacity: 0;
  position: absolute;
  top: 30%;
  transition: 1.3s;
}

.team-social-icon ul li {
  display: inline-block;
}

.visa img {
  margin-top: 20px;
}

.mastercard img {
  margin-top: 20px;
}

.team-social-icon ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 34px;
  width: 34px;
  margin: 0 3px;
}

.team-social-icon ul li a i {
  line-height: 0;
}

.team-social-icon ul li a:hover {
  color: #fff;
  border: 1px solid #3EC1D5;
  background: #3EC1D5;
}

.team-content {
  padding: 10px 0px;
  text-shadow: 5px 4px 4px black; 
  text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
}

.team-content > h4, .team-content > p {
  font-family: 'Work Sans', sans-serif;
  color: rgb(235, 235, 235);
  margin-bottom: 5px;
}

.team-content.head-team p {
  margin-bottom: 0;
}

.team-left-icon.text-center {
  margin-bottom: 20px;
}

.head-team h4 {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
}



/*--------------------------------------------------------------
# Button przycisk - contact, stopka itd
--------------------------------------------------------------*/



.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.ready-btn:hover {
  color: #fff;
  background: #3EC1D5;
  border: 1px solid #3EC1D5;
  text-decoration: none;
}



/*--------------------------------------------------------------
#   CONTACT US SECTION 
--------------------------------------------------------------*/
.contact-area {
  background: url(../img/background/westfield.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
}

.contact-left-text {
  background: url(../img/about/bat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-right-text {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}

.contact-right-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.contact-right-text h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}

.contact-right-text .sus-btn {
  margin-left: 0;
  margin-top: 20px;
}




/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

.faq-area{
  background: url(../img/background/grille.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pricing p{
  color: rgb(255, 240, 240);
  font-family: 'Hind', sans-serif; 
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #4d5974;
}

.accordion{
  margin-bottom: 80px;
  font-family: 'Work Sans', sans-serif;
}

.accordion-item{
  margin-bottom: 10px;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  
  color:white;
    text-shadow: 5px 4px 4px black; 
    text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  font-size: 1.35rem;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  background-image:linear-gradient( rgb(69, 121, 151) 30%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
  outline: none;
  text-align:center;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}



.accordion button .icon {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 10;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
  margin: 9px 5px;
}
.accordion button .icon::after {
  display: block;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
  margin: -15px 9px;
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 100em;
  transition: all 600ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 1em;
  overflow: hidden;
  transition: opacity 600ms linear, max-height 600ms linear;
  will-change: opacity, max-height;
  text-align:center;
  color:white;
    text-shadow: 5px 4px 4px rgb(0, 0, 0); 
    text-shadow: -1px -1px 1 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
}
.accordion .accordion-content p {
  font-size: 1.3rem;
  font-weight: 300;
  width: 80%;
  position: relative;
  left:10%;
  text-align: center;
}

.accordion-title {
  margin-left:10px;
}

/*--------------------------------------------------------------
# Terms of Service TOS
--------------------------------------------------------------*/

.termsbackground {
  background: url(../img/background/westfield.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 50px 50px 0px 0px;
  border-top:    3px outset  black;
  border-right:  3px outset black;
  border-left:   3px outset  black;
}

@media (max-width: 990px) {

  .termsbackground {
    margin-top: -30px;
    font-size: 11px;
    line-height: 20px;
  }

  .termsbackground2 {
    font-size: 11px;
  }

}

@media (max-width: 760px) {

  .termsbackground {
    margin-top: -60px;
  }

  .termsbackground .textshadow{
    margin-top: -90px!important;
  }

  .termsbackground2 {
    font-size: 11px;
  }

}

@media (max-width: 510px) {

  .termsbackground {
    margin-top: -60px;
    line-height: 17px;
  }

  .termsbackground .textshadow{
    margin-top: -90px!important;
  }

  .termsbackground2 {
    font-size: 11px;
  }

}

@media (max-width: 430px) {

  .termsbackground {
    margin-top: 20px!important;
    line-height: 14px;
  }

  .termsbackground .textshadow{
    margin-top: -70px!important;
  }

  .termsbackground2 {
    font-size: 11px;
  }

}


@media (max-width: 400px) {

  .termsbackground h2 {
    margin-bottom: 40px;
  }

  .termsbackground2 {
    font-size: 11px;
  }

}

@media (max-width: 319px) {

  .termsbackground h2 {
    margin-bottom: 40px;
  }

  .termsbackground{
    font-size: 9px;
  }

  .termsbackground .textshadow{
    margin-top: -60px!important;
  }


  .termsbackground2 {
    font-size: 9px;
  }

}

.termsbackground2 {
  background: url(../img/background/westfield.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 0px 0px 50px 50px;
  border-right:  3px outset black;
  border-bottom: 3px outset black;
  border-left:   3px outset  black;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
  padding: 40px 0;
  background: #221d1d;
}


.footer-head p {
  color: rgb(241, 241, 241);
}

.footer-head h4 {
  color: rgb(223, 223, 223);
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#footer-text {
  position: relative;
  left:10px;
  bottom:15px;
}

.footer-head ul {
  position: relative;
  left: 10px;
}

.footer-logo img {
  position:relative;
  bottom:15px;
  right:7px;
}

.footer-icons{
  margin-left: -35px;
  margin-bottom: 30px;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: rgb(255, 0, 0);
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;

  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}


.footer-contacts p span {
  color: #3EC1D5;
  font-weight: 700;
}

.footer-marginleft {
  margin-left: 30px;
}

.footer-contacts :last-child {
  margin-bottom: 50px;
}

center {
  margin:0 auto;
  display: block;
}

/*------------------DROPDOWN BUTTON----------------------*/
/* wygląd elementu - ol */
.dropbtn{
  width:400px;
  margin:0 auto;
  padding:0;
  list-style-type:none;
  background-color:#FDF;
}

/* naprawa wysokości elementu - ol */
.dropbtn:after {
  content:'';
  display:block;
  clear:both;
}

.dropbtn {
  position: relative;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:white;
    text-shadow: 5px 4px 3px black; 
    text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  background-image:linear-gradient( rgb(7, 113, 121) 30%, rgb(62, 61, 65) 70%, rgb(0, 0, 0) 100%);
  border: none;
  border-radius: 15px;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}


.dropbtn:active {
  text-align: center;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dropdown {
  position: relative;
  display: inline-block;
} 

.dropdown-content {
  display: none;
  position: relative;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:white;
    text-shadow: 5px 4px 4px black; 
    text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  overflow: auto;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}

/*--------------------------------------------------------------
# Description Section dynamic tabs on toggle
--------------------------------------------------------------*/

.nav-tabs .nav-link{
  border: 1px solid rgb(110, 110, 110);
}

.tab-pane {
    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;
}

.nav-tabs {
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 630px) {
  .nav-tabs .nav-link {
    font-size: 11px;
    min-height: 70px;
  }
}

.nav-link {
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(141, 141, 141);
  text-shadow: 0 0 15px rgb(146, 18, 18);
  width:33.33%;
}

.nav-link.active{
  color: #30d6ce!important;
  background-color: black!important;
  text-shadow: 0 0 15px rgb(19, 195, 226);
  border-color: #ffffff #dee2e6 #fff;
}

#nav-tabContent .tab-pane{
  color: rgb(255, 240, 240);
  font-family: 'Hind', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  width: 80%;
  position: relative;
  left: 10%;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.tab-pane > h4 {
  color: rgb(214, 214, 214);
  text-shadow: 5px 4px 4px black;
  text-shadow: -1px -1px 6 #000, 1px -1px 1 rgb(0, 0, 0), 2px 2px 2 #000, 1px 6px 6 #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.tab-pane b, strong {
  font-weight: 700!important;
}

#nav-tabContent {
  border-bottom: 1px solid rgb(172, 172, 172);
}

.desc-bg {
  background-image:url(../img/background/bg.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.wotlogo{
 background-repeat: no-repeat;
  display: flex;
  opacity: 20%;
  position: absolute;
  z-index: -19;
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

.video-background {
  left: 0;
  top: 0;
  position: fixed;
  min-width: 100%!important;
  min-height: auto!important;
  display: flex; 
  opacity: 0.95;
  z-index: -20;
}

.vid {
  left:0;
  top:0;
  position:absolute;
  display: block;
  height: 168px;
  width: auto;
  z-index: 11111;
}

@media (min-aspect-ratio: 16/9) {
  .video-background{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}

.notecredits {
  line-height:0px;
  font-size:10px;
}


.pst-content {
  padding-left: 10px;
}


#portfolio .single-awesome-project .oferta{
  font-family: 'Open Sans';
}

#portfolio h2{
  color: rgb(231, 231, 231);
}



#portfolio-flters {
  padding: 0;
  margin: 0px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  border-radius: 50px;
  text-transform: uppercase;
  background: rgb(230, 230, 230);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #444;
}

#portfolio-flters li:hover, #portfolio-flters li.filter-active {
  border-color: #3EC1D5;
  background: #3EC1D5;
  color: #fff;
}

#portfolio-flters li:last-child {
  margin-right: 0;
}

.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}

.single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
}

.first-item {
  margin-bottom: 30px;
}

.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.awesome-img > a {
  display: block;
  position: relative;
}

.single-awesome-project:hover .awesome-img > a::after {
  opacity: 0.5;
}

.single-awesome-project:hover .add-actions {
  opacity: 1;
  bottom: 0;
}

.awesome-img > a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  transition: all 1s ease 0s;
  width: 100%;
}

.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}

.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}

.single-awesome-project {
  padding:12px;
}

.project-dec span {
  font-weight: bold;
}


/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/*--------------------------------------------------------------
# My account
--------------------------------------------------------------*/

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 7px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  width: 70%;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.tabcontent h3 {
  font-weight: 700;
  color: #dfd0d0;
  text-shadow: 1px 1px 20px red;
  align-items: center;
}

.tabcontent p {
  font-weight: 500;
  color: rgb(113, 113, 113);
  text-shadow: 1px 1px 10px grey;
}

.tabcontent p a {
  color: rgb(238, 238, 238)!important;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

/*--------------------------------------------------------------
# Responsywnosc
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
  .add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
  line-height: 38px;
}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
    line-height: 38px;

}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}	
}

@media (min-width: 1200px) and (max-width: 1399px) {
.navbar a {
  font-size: 18px;
}

.carter {
	width: 35px;
}
.add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
    line-height: 38px;

}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.navbar a {
  font-size: 16px;
}

.carter {
	width: 27px;
}

.add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
    line-height: 38px;

}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }
  .work-right-text {
    padding: 40px 0;
  }
  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
  
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .layer-1-1 h2 {
    font-size: 24px;
  }
  .layer-1-2 h1 {
    font-size: 31px;
    line-height: 38px;
    padding: 0px 30px;
  }
  .tab-menu ul.nav li a {
    padding: 10px 16px;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    width: 40%;
  }
  .team-content.text-center > h4 {
    font-size: 20px;
  }
  .sus-btn {
    margin-left: 0;
  }
  .suscribe-text h3 {
    font-size: 16px;
    padding-right: 20px;
  }
  .work-right-text h5 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text {
    padding: 36px 0;
  }
  .work-right-text h2 {
    font-size: 14px;
    line-height: 22px;
  }
  .work-right-text .ready-btn {
    font-size: 13px;
    padding: 7px 20px;
    margin-top: 5px;
  }
  .single-awesome-portfolio {
    width: 33.33%;
  }
  .widget-product a img {
    display: block;
    float: none;
    width: 100%;
  }
  .widget-product .product-info {
    display: block;
    float: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .map-column {
    margin-left: 0;
    padding-right: 40px;
  }
  .post-information .entry-meta {
    font-size: 13px;
    padding: 5px 0;
  }
  .post-information .entry-meta span a {
    padding: 4px 0;
  }
  .service-pic {
    margin-bottom: 30px;
    text-align: center;
  }
  .single-add-itms {
    width: 50%;
  }
  .left-sidebar-title > h4 {
    font-size: 18px;
  }
  .contact-form {
    margin-top: 0px;
  }
  .search-option input {
    width: 67%;
  }
  .add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:120px;
  height:30px;
  font-size: 8px;
  font-weight: 600;
  margin-top:5px;
  border: 3px solid #bbb;
    line-height: 25px;

}

.more-info{
  width:80px;
  height:20px;
  margin-top:5px;
  color: white;
  font-size: 5px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 20px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 15px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom:0px;
}

.project-dec span {
  font-size: 10px;
}
}

/* small mobile :320px. */
@media (max-width: 767px) {
	.add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.footer-head.footer-marginleft {
  margin-left: 8px;
}

.contact-left-text {
  background-image:url(../img/about/bat.jpg);
}


.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
    line-height: 38px;

}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}
  .slider-area {
    margin-top: 60px;
  }
  .slider-content {
    padding: 80px 0;
  }
  .slider-content h2 {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .slider-content h1 {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }
  .section-headline h2 {
    font-size: 30px;
    margin-top: 60px;
  }

  #portfolio .section-headline h2 {
    font-size: 30px;
    margin-top: 0;
  }

  .well-middle .single-well {
    margin-top: 30px;
  }
  .single-skill {
    margin-bottom: 40px;
  }
  .tab-menu {
    margin-top: 30px;
  }
  .tab-menu ul.nav li a {
    padding: 8px 6px;
  }
  .wellcome-text {
    margin: 0px;
    padding: 70px 0px;
  }
  .subs-feilds {
    width: 100%;
  }
  .suscribe-input input {
    width: 60%;
  }
  .suscribe-input button {
    font-size: 15px;
    padding: 14px 10px;
    width: 40%;
  }
  .section-headline h3 {
    font-size: 25px;
  }
  .well-text > h2 {
    font-size: 18px;
  }
  .well-text p {
    display: none;
  }
  .single-team-member {
    margin-bottom: 30px;
  }
  .service-right {
    width: 100%;
  }
  .service-images:hover .overly-text {
    display: none;
  }
  .project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }
  .pri_table_list {
    margin-bottom: 30px;
  }
  .single-awesome-project, .portfolio-2 .single-awesome-project {
    width: 100%;
    float: none;
  }
  .single-blog {
    margin-bottom: 30px;
  }
  .sus-btn {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-form {
    margin-top: 30px;
  }
  .head-team h5 {
    font-size: 22px;
  }
  .footer-content {
    margin-bottom: 30px;
    margin-left: -30px;
  }
  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .page-area .slider-content {
    padding: 500px 0;
  }
  .search-option input {
    width: 74%;
  }
  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  li.threaded-comments {
    margin-left: 0;
  }
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
.add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:70px;
  font-size: 7px;
  font-weight: 600;
  margin-top:3px;
  border: 2px solid #bbb;
  height:20px;
    line-height: 15px;
}

.more-info{
  width:70px;
  height:10px;
  margin-top:0px;
  color: white;
  font-size: 5px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 8px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 10px;
  font-weight: 800;
  margin-top: -10px;
  
  margin-bottom:0px;
}

.project-dec span {
  font-size: 10px;

}	
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
.add-to-cart:hover {
  border: 3px solid #3ec1d5;
  transition: .5s;
}

.add-to-cart {
  width:140px;
  font-size: 13px;
  font-weight: 600;
  margin-top:10px;
  border: 3px solid #bbb;
  height:45px;
    line-height: 38px;

}

.more-info{
  width:100px;
  height:30px;
  margin-top:10px;
  color: white;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid #bbb;
  line-height: 30px;
}


.more-info:hover{
  border: 1px solid #3ec1d5;
  transition: .5s;	
}

.project-dec .oferta {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom:10px;
}

.project-dec span {
  font-size: 17px;
}	
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  .submitbtn {
    float: none;
    width: 99.8%;
  }
  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }
  .blog-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .awesome-portfolio-content .portfolio-2 {
    width: 50%;
  }
  .gallary-details .single-awesome-portfolio {
    width: 50%;
  }
  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}

@media (max-width: 575px) {

  .slider-content {
    padding: 0;
  }
}
.submenu .pot {
  display: inline-block;
  height: 38px;
  padding: 0 95px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top:50px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.submenu .checkout {
  display: inline-block;
  height: 38px;
  padding: 0 100px;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #555;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.submenu .checkout:hover, .submenu .pot:hover {

  color: #3ec1d5;
  border: 1px solid #3ec1d5;
  transition: .5s;
}

.submenu button:hover {

  color: #3ec1d5;
  border: 1px solid #3ec1d5;
  transition: .2s;
}

.submenu button {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: #555;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  }







































  




/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding-top: 15px;
  padding-bottom:15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
  padding-left:8px;
  }
th:first-child,
td:first-child {
  padding-left: 10px; }
th:last-child,
td:last-child {
  padding-right: 10px; }

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position:relative;
  right:7px;
  top:7px;
}

.navbar-mobile img, .navbar-mobile .badge{
	display:none;
}

.cart-header{
	font-size: 20px;
}

.submenu {
  list-style-type: none;
  position: relative;
}

#my-account-button a{
  color: white;
}

/* cart submenu on hover */
.submenu #carrito{
  display: none;
}
#carrito{
  position: relative;
	overflow: auto;
	max-height: 600px;
  border: 2px solid yellow;
}

#carrito .cart_item-name{
  min-width: 330px;
}

@media (min-width: 991px) {
.submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;
  top:100%;
  z-index: 1;
  background-color: rgb(243, 243, 243);
  padding: 20px;
  min-height: 200px;
  min-width: 300px;
  border:3px solid rgb(11, 196, 199);
}
}


/* account submenu on hover */
.submenu #carritoacc{
  display: none;
}

.submenu #carritoacc ul{
  margin-bottom: 0px;
}


#carritoacc{
	overflow: auto;
	max-height: 300px;
}

@media (min-width: 991px) {
.submenu:hover #carritoacc{
  display: block;
  position: absolute;
  top:100%;
  z-index: 1;
  background-color: rgb(243, 243, 243);
  min-height: 125px;
  min-width: 200px;
  border:3px solid rgb(11, 196, 199);
  margin-left: -80px;
}
}

#carritoacc li {
  margin-left: -30px;
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  border-width: 80%;
  margin-top: 10px;
}

#carritoacc h4{
  font-family: 'Hind', sans-serif;
  color: #4d5974;
  font-weight: bolder;
  font-size: 22px;
  line-height: 32px;
  box-sizing: border-box;
}

#carritoacc h4:hover{
  color: #3ec1d5;
}


.carter {
	margin-left:20 px;
	justify-content: space-between;
	margin: 0;
  
}

@media (min-width: 991px){
  .carter {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 701px)
{
  .carter {
    width: 28px;
  }

  .submenu {
    margin-right: 10px!important;
  }

  #img-carritoacc .carter {
    width: 26px!important;
  }

  .carter-position{
    right: 20px!important; 
  }

}

@media (max-width: 400px) {
  .carter {
    width: 22px;
  }
  .carter-position{
    top: 31px!important;
  }
  .badge{
    font-size: 10px;
    padding: 2px 4px;
  }
}


.carter-position{
  top:5px; 
}

@media (max-width: 991px)
{
  .carter-position{
    right: 35px; 
    top:29px; 
    position: fixed;
  }
}

.add-to-cart:hover {
  color: #3ec1d5;
}

.add-to-cart {
  display: inline-block;
  padding: 0;
  color: white;
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;	
  
}

.more-info{
  display: inline-block;
  padding: 0;
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;	
}


.more-info:hover{
  color: #3ec1d5;
}


.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}

.project-dec .oferta {
  color: white;
  
}

.project-dec span {
  color: #ddd;
}




/* Log in sign up form */

#log-reg {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #515bae;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background: url(../img/background/flare.png);
  background-repeat: no-repeat;
  background-size: 850px;
  background-position: center;
  width: auto;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

#log-regg {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #515bae;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background: none;
  width: auto;
  position: relative;
  border-radius: 10px;
}

.container-login {
  border-radius: var(--border-radius);
  background-color: white;
}

.login-background{
  background-repeat: no-repeat;
   display: flex;
   position: absolute;
   z-index: -19;
   padding-top: 0;
   justify-content: center;
   align-items: center;
 }


.container-login,
.form__input,
.form__button {
  font-family: 500 1rem 'Quicksand', sans-serif;
  padding: 0 20px;
}

.container-login h1{
  font-family:'Quicksand', sans-serif;
}

.form--hidden {
  display: none;
}

.form {
  padding: 0 20px;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

@media(min-width: 760px) {
  .form__input {
    min-width: 400px;
  }
}


.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.display-block {
  display: block!important;
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: rgb(125, 138, 201);
  text-decoration: none;
  cursor: pointer;
}

/* My account */

.edit-button {

  text-align: left;
  padding: 0rem 1rem;

  font-size: 0.9rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: #009579;
}

#myacc-tab h3{
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  display:flex;
  width: 97%;
}

#my-logout {
  cursor: pointer;
}

#my-logout :hover {
  transform: scale(1.03); 
}

#wot-acc {
  border-top: 1px solid rgb(172, 172, 172);
  padding-top: 20px;
}




/* CHECKOUT  */


.checkout_wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 50px;
}

.checkout_items,.checkout_forms{
  padding: 50px;
}

.items-wrapper{
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.8);
}

.checkout_items .checkout-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  border-bottom: black 1px solid;
}

.checkout-item a{
  display: flex;
  margin: 0 30px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.checkout-item a span{
  margin:0 20px;
}

.checkout-item p{
  margin: 0;
  flex-shrink: 0;
}

.checkout-item p span{
  color: #000;
  margin: 0;
}

.checkout-item img{
  max-height: 120px;

}
